/* ====================
##. Top Bar
==================== */
.top-bar {
  background-color: #F06524; /* Background color of the top bar */
  color: #fff; /* Text color */
  padding: 10px 0; /* Padding for top and bottom */
}

.top-bar p {
  margin: 0; /* Reset margin for the paragraph */
  text-align: left; /* Center the text */
  padding-left: 20px;
  font-size: 1rem;
}

/* ====================
##. Nav Bar Area
==================== */
.navbar {
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* ====================
##. Hero Area
==================== */
.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Add this line */
}

/* Add the following CSS for the hero image */
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  z-index: 1000;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #F06524 !important;
  border-color: #F06524 !important;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}


/* ====================
##. Breadcrumb Area
==================== */
.breadcrumb-area {
  background-image: url("images/breadcrumb-pic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  position: relative;
}

.breadcrumb-area h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 600;
}

.breadcrumb-area ul li {
  color: white;
}

.breadcrumb-area ul li a {
  color: white;
}

.breadcrumb-area ul li a:hover {
  color: white;
}

.breadcrumb-area ul li i {
  color: white;
  margin-right: 8px;
}

/* ====================
##. ALTERNATING COLUMNS
==================== */
@media screen and (min-width:768px) {
  .alternate-1{
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .alternate-2{
    display: none;
  }
}

/* ====================
##. DOCTOR
==================== */

@media (min-width:768px) {
  .provider-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    padding: 3%;
  }
}

@media (max-width:768px) {
  .provider-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }

  .provider-container {
    padding: 3%;
  }
}

.provider-container {
  line-height: 1.3;
}

.provider-container h3, p {
  font-size: 1.25rem;
}

.provider-title {
  color: #F06524;
}

/* ====================
##. Welcome
==================== */

.two-subq{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

@media screen and (min-width: 1024px) {
  .two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    padding: 3%;
  }
}

@media screen and (max-width: 1024px) {
  .two-col{
    padding: 3%;
  }
}

/* ====================
##. About Area
==================== */

/* Custom CSS for the smaller images */
.small-image {
  width: 400px;
  height: 250px;
}

/* ====================
##. Card
==================== */

/* Custom CSS for the card styling */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}

/* ====================
##. Table Font
==================== */

.text-size-lg {
  font-size: 1.5rem;
}